
h1[data-v-b51294ca] {
  padding: 0 0.25em;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}
.app {
  color: #444;
  margin-top: 100px;
  max-width: 600px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
}
